<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navbar :: navbar"></nav>

<div class="container">
    <div class="page-header">
        <h2>New Product</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/admin/products}" th:object="${product}" method="post">
                <div class="form-group>">
                    <label class="control-label">Name</label>
                    <input th:field="*{name}" title="name" class="form-control"/>
                </div>

                <button class="btn btn-default">Create</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
