<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div class="page-header">
        <h2><span th:text="#{product.list.title}"></span> <span th:text="${products.size()}" class="badge"></span></h2>
    </div>

    <a th:href="@{/admin/products/new}" class="btn btn-default" th:text="#{product.list.add}"></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{product.label.id}"></th>
            <th th:text="#{product.label.name}"></th>
            <th th:text="#{product.label.price}"></th>
            <th colspan="2"></th>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a class="btn btn-info" th:href="@{/admin/products/} + ${product.id} + @{/edit}">Edit</a></td>
            <td>
                <form th:object="${product}" th:action="@{/admin/products/} + ${product.id}" th:method="delete">
                    <button class="btn btn-danger" th:text="#{product.button.destroy}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
