<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container ">
    <div class="jumbotron text-center">
        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <!--/*@thymesVar id="status" type="java.lang.String"*/-->
        <h1 th:text="${status} + ' ' + ${error}"></h1>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <p th:text="${message}"></p>
        <a href="/" class="btn btn-large btn-info"><span class="glyphicon glyphicon-home"></span> <span
                th:text="#{error.home}"></span></a>
        <button class="btn btn-large btn-info" onclick="window.history.back()"><span
                class="glyphicon glyphicon-step-backward"></span> <span th:text="#{error.back}"></span>
        </button>
    </div>
</div>

</body>
</html>
