<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head:: head"></head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>
<div th:replace="fragments/message :: message"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 th:text="#{login.sign_in}"></h1>

            <div class="alert alert-danger" th:if="${param.error}" th:text="#{login.invalid}"></div>

            <div class="alert alert-success" th:if="${param.logout}" th:text="#{login.sign_out.message}"></div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label class="control-label" th:text="#{login.email}"></label>
                    <input title="username" name="username" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label" th:text="#{login.password}"></label>
                    <input type="password" title="password" name="password" class="form-control"/>
                </div>
                <button class="btn btn-primary" th:text="#{login.sign_in}"></button>
                <a th:href="@{/register}" class="btn btn-default pull-right" th:text="#{login.sign_up}"></a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
